In [10]:
import bagpy
import seaborn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
import bagpy


bag_file = "/home/seanchok/Documents/fyp/sandbox/src/wheeltec-experiment/bags/session1_2023-03-13-14-13-37.bag"

b = bagpy.bagreader(bag_file)

[INFO]  Data folder /home/seanchok/Documents/fyp/sandbox/src/wheeltec-experiment/bags/session1_2023-03-13-14-13-37 already exists. Not creating.

In [26]:
clicked_point_csv = b.message_by_topic('clicked_point')
clicked_point_df = pd.read_csv(clicked_point_csv)
clicked_point_df

,Time,header.seq,header.stamp.secs,header.stamp.nsecs,header.frame_id,point.x,point.y,point.z
0,152.242,10,152,241000000,world,2.267237,2.269677,0.005716
1,154.162,11,154,162000000,world,2.252634,-2.196055,0.005661
2,156.287,12,156,287000000,world,-2.162921,-2.129572,0.003009
3,159.549,13,159,538000000,world,-2.193344,2.276760,0.002795
4,161.359,14,161,359000000,world,0.372460,1.346252,0.006276

In [24]:
exploration_start_time = clicked_point_df.tail(1)['Time']

first = np.array(clicked_point_df.iloc[0]['point.x'], clicked_point_df.iloc[0]['point.y'])
second = np.array(clicked_point_df.iloc[2]['point.x'], clicked_point_df.iloc[0]['point.y'])

corners = [
    first,
    np.array([first[0], second[1]]),
    second,
    np.array([first
]

exploration_width = abs(clicked_point_df.iloc[0]['point.x'] - clicked_point_df.iloc[2]['point.x'])
exploration_height = abs(clicked_point_df.iloc[0]['point.y'] - clicked_point

4    151.359
Name: Time, dtype: float64